.register-container{
    padding:0px;
    margin:0px;
    display:flex;
    justify-content: center;
    width: 100%;
}
.register-layout{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.valid{
    display: inline-block;
}
.hide{
    display: none;
}
.invalid-icon{
    color:red;
}
.valid-icon{
    color:green;
}
.register-message{
    text-align: center;
    color:white;
}

@media only screen and (max-width: 700px) {
    .register-layout{
        width:350px;
    }
}